{{template "header"}}

{{template "navbar" .LoggedUser}}

<div class="container">
    <div class="row justify-content-center pt-5 pb-5">
        <div class="col-lg-8">
            {{if .LoggedUser}}
            {{template "navcontent" .}}
            {{end}}
            <center><h1>{{.Content.Title}}</h1></center>
            {{if .Content.Image}}
            <div><img src="/{{.Content.Image}}" class="img-fluid"></div>
            {{end}}
            <div><b>Teaser:</b><br>{{.Content.Teaser}}</div>
            <div><b>Body:</b><br>{{.BodyHTML}}</div>
            <div><b>Tags:</b><br>{{.Content.Tags}}</div>
            <div><b>Author:</b><br>{{.Content.Author}}</div>
            <div><b>Created:</b><br>{{.Content.Created}}</div>
            <div><b>Changed:</b><br>{{.Content.Changed}}</div>
        </div>
    </div><!-- /row -->
</div><!-- /container -->

{{template "footer"}}