{{define "content-list"}}
<div class="mb-4">
    <a href="/admin/add/{{.Type}}" class="bg-primary text-white btn mb-3 mb-md-0">Add new content</a>
</div>
<ul class="list-group">
    {{range .Content}}
    <li class="list-group-item d-flex justify-content-between"><a href="{{.URL}}">{{.Title}}</a><div class="action-links"><a href="/admin/edit/{{$.Type}}/{{.ID.Hex}}">Edit</a> | <a href="/admin/delete/{{$.Type}}/{{.ID.Hex}}">Delete</a></div></li>
    {{end}}
</ul>
<div class="p-4 d-flex justify-content-center">
{{template "paginator" .}}
</div>
{{end}}