{{define "navcontent"}}
<ul class="nav justify-content-center pb-3">
    <li class="nav-item">
        <a class="nav-link" href="{{.Content.URL}}">View</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/api/{{.Type}}/{{.Content.ID.Hex}}">Json</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/edit/{{.Type}}/{{.Content.ID.Hex}}">Edit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/admin/delete/{{.Type}}/{{.Content.ID.Hex}}">Delete</a>
    </li>
</ul>
{{end}}