{{template "header"}}

{{template "navbar" .LoggedUser}}

<div class="container">
    <div class="row pt-5 pb-5">
        {{template "admin-navbar"}}
        <div class="col-lg-8">
            {{if .User}}
            {{template "navuser" .User}}
            {{end}}
            <h1>User</h1>
            <form method="post" action="/admin/add/user/process">
                <div class="form-group">
                    <input type="text" name="name" placeholder="User name" value="{{.User.Name}}" class="form-control" required="true">
                </div>
                <div class="form-group">
                    <input type="email" name="email" placeholder="E-mail" value="{{.User.Email}}" class="form-control" required="true">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" class="form-control" required="true">
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <label class="form-check-label"><input type="checkbox" {{.IsAdmin}} name="admin" class="form-check-input">Admin</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" name="user-id" value="{{.User.ID.Hex}}">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div><!-- /row -->
</div><!-- /container -->

{{template "footer"}}